#container {
    width: 100%;
}

svg {
    width: 100%;
}

path {
    pointer-events: all;
    fill-rule: evenodd;
    stroke:white;
    stroke-width: 0.2;
    stroke-miterlimit:4;
    stroke-dasharray:none
}

path#labels {
    stroke: white;
    stroke-width: 0.15;
    fill: white;
    fill-opacity: 1;
    pointer-events: none;
}

@media(hover: hover) and (pointer: fine) {
    path:not(#labels):hover {
        fill: #666 !important;
    }
}

.selected {
    fill: #333 !important;
}