<h1>About this Application</h1>

<p>This application was written as a technical exercise to try out the Clarity Design Framework in Angular.
    I wanted to learn more about it, and build something relevant.
    So I decided to build a web app to give myself an easy to digest data about COVID-19.
    I felt most data visualizations didn't give a complete picture of the data. 
</p>

<p> Data is obtained from <a href="https://covidtracking.com/">The COVID Tracking Project</a>.  Please refer to that project for any questions about the data or it's accuracy.</p>

<h3>Terms of Use</h3>
<p>This application is meant to be informative only, and should not be used in any private or official capacity to make decisions regarding the COVID-19 pandemic.</p>
<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>