<h1>About this Application</h1>

<p>This application was written as a technical exercise to try out the Clarity Design Framework in Angular.
    I wanted to learn more about it, and build something relevant.
    So I decided to build a web app to give myself an easy to digest data about COVID-19.
    I felt most data visualizations didn't give a complete picture of the data. 
</p>

<p>If you like the application, feel free to reach out on <a href="https://www.linkedin.com/in/jhonl/">LinkedIn</a>.</p>
