.graph {
    margin-top: 24px;

    h3 {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    p {
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.chart-container {
    height: 500px; 
    margin-bottom: 70px;
}
