<clr-main-container>
    <clr-header>
        <div class="branding">
            <span class="title">COVID-19 Stats</span>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="nav-link nav-text" [routerLink]="['map']" [routerLinkActive]="'active'">Interactive Map</a>
            <a class="nav-link nav-text" [routerLink]="['datasheet']" [routerLinkActive]="'active'">Datasheet</a>
        </div>
    </clr-header>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</clr-main-container>
<clr-modal [(clrModalOpen)]="this.userNotAccepted" [clrModalClosable]="false">
    <h3 class="modal-title">Disclaimer</h3>
    <div class="modal-body">

        <h4>Overview</h4>
        <p>This application is meant to be informative only, and should not be used in any private or official capacity to make decisions regarding the COVID-19 pandemic.</p>
        <p>This application uses data from <a href="https://covidtracking.com/">The COVID Tracking Project</a> as it's source.  Please refer to that site for any questions regarding the data and it's accuracy.</p>

        <h4>Terms</h4>
        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="this.userNotAccepted = false">I Accept the Terms of Use</button>
    </div>
</clr-modal>